<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Create new menu</title>
</head>

<body>
  <div class="menuheader">
    <div class="container mt-5 mb-3 ">
    </div>
  </div>

  <div class="hero">
    <div class="container mt-5 mb-5 pt-3 pb-3">
      <img src="~/assets/orange_wider_background.png" alt="">
      <div class="text">
        <h1>Étlapok</h1>
      </div>
    </div>
  </div>


  <div class="container mt-5 mb-3">
    <div class="row justify-content-between">
      <div class="col-6">
        <h2>
          Elkészített étlapjaim
        </h2>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <a class="btn btn-outline-success add-recipe-button">Új étlap létrehozása</a>
      </div>
    </div>
  </div>
  <hr>

  <div class="container">
    <div class="row">
      <div class="card-deck">

        <div class="col-sm-6 col-md-4 col-lg-3 pb-3">
          <div class="card clickable-card">
            <div class="card-body">
              <h5 class="card-title">Nyári tábor menütervezet és még valami hogy legyen kontent</h5>
              <hr>
              <p class="card-text">7 nap, tízórai nélkül, 5-11 éves korosztálynakés még valami sok sok hogy legyen mebbe kontent és legyen ohsszabb</p>
            </div>
            <div class="bg-logo">
              <img src="~/assets/logo_notext.png" alt="">
            </div>
          </div>
        </div>

          <div class="col-sm-6 col-md-4 col-lg-3 pb-3">
            <div class="card clickable-card">
              <div class="card-body">
                <h5 class="card-title">Nyári tábor menütervezet</h5>
                <hr>
                <p class="card-text">7 nap, tízórai nélkül, 5-11 éves korosztálynak</p>
              </div>
              <div class="bg-logo">
                <img src="~/assets/logo_notext.png" alt="">
              </div>
            </div>
          </div>

            <div class="col-sm-6 col-md-4 col-lg-3 pb-3">
              <div class="card clickable-card">
                <div class="card-body">
                  <h5 class="card-title">Nyári tábor menütervezet</h5>
                  <hr>
                  <p class="card-text">7 nap, tízórai nélkül, 5-11 éves korosztálynak</p>
                </div>
                <div class="bg-logo">
                  <img src="~/assets/logo_notext.png" alt="">
                </div>
              </div>
            </div>

              <div class="col-sm-6 col-md-4 col-lg-3 pb-3">
                <div class="card clickable-card">
                  <div class="card-body">
                    <h5 class="card-title">Nyári tábor menütervezet</h5>
                    <hr>
                    <p class="card-text">7 nap, tízórai nélkül, 5-11 éves korosztálynak</p>
                  </div>
                  <div class="bg-logo">
                    <img src="~/assets/logo_notext.png" alt="">
                  </div>
                </div>
              </div>

                <div class="col-sm-6 col-md-4 col-lg-3 pb-3">
                  <div class="card clickable-card">
                    <div class="card-body">
                      <h5 class="card-title">Nyári tábor menütervezet</h5>
                      <hr>
                      <p class="card-text">7 nap, tízórai nélkül, 5-11 éves korosztálynak</p>
                    </div>
                    <div class="bg-logo">
                      <img src="~/assets/logo_notext.png" alt="">
                    </div>
                  </div>
                </div>


                </div>
              </div>
            </div>

</body>

</html>