<app-navbar></app-navbar>
<div class="hero">
  <div class="container mt-5 mb-5 pt-3 pb-3">
    <div class="text">
      <h1>Étlapok</h1>
    </div>
  </div>
</div>


<div class="small-bg">
  <div class="container mt-5 mb-3">
    <div class="row justify-content-between">
      <div class="col-6">
        <h2>
          Elkészített étlapjaim
        </h2>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <button class="btn btn-outline-success add-recipe-button" routerLink="/menus/add">Új étlap létrehozása</button>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="isLoading">
  <hr>
    <div class="lds-css loading">
      <div class="lds-pacman">
        <div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div>
          <div></div>
          <div></div>
        </div>
      </div>
      <p class="loadertext">Betöltés folyamatban ... </p>
    </div>
</div>



<div class="card-container">
  <div class="container mt-4 justify-content-center">
    <div class="card-deck">

      <ng-container *ngIf="!isLoading">
        <div class="col-auto mt-5 container" *ngFor="let menu of menus">
          <div class="card clickable-card" [routerLink]="['/menus/view', menu.menuId]">
            <div class="card-bg">
              <div class="card-body">
                <h5 class="card-title">{{menu.menuName}} étlap</h5>
                <hr>
                <p class="card-text">Menüterv hossza: </p>
                <p class="card-text-input">{{menu.numberOfDays}} nap</p>
                <div class="bg-logo">
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>


    </div>
  </div>
</div>