@import "../../variables.scss";

h1 {
    color:white;
}


.clickable-card {
    color: $lettercolor;
    border: 1px solid $modalbackground;
}

.bg-logo {
    background-image: url(~/assets/logo_notext.png);
    background-repeat: no-repeat;
    margin-left: 85%;
    background-size: contain;
}

.clickable-card:hover {
    color: $lettercolor;
    box-shadow: 0px 0px 40px  rgba(0, 0, 0, 0.13);
    z-index: 2;
    transition: all 300ms ease-in;
    transform: scale(1.1);
}

.card-title{
    color: $lettercolor;
    z-index: 1;
    text-align: center;
    font-weight: bold;
}

.add-recipe-button:focus {
    color: $lettercolor;
    z-index: 1;
}


.hero {
    background-image: url(~/assets/orange_wider_background.png);
    background-size: cover;
    position: static;
    overflow: auto;
}

.text {
    position: absolute;
    color: white;
    margin-left: 20px;
    margin-top: -20px;
}

.menuheader {
    background-color: $modalbackground;
}

.add-recipe-button:hover {
    color: white !important;
}

.card-text-input {
    text-align: center;     
    font-weight: bold;
}

.card-text {
  text-align: center;     
}

.card-bg {
    background-image: url(~/assets/cloth.png);
    background-size: contain;
    position: static;
    overflow: auto;
    background-position: center;

}

.card-body {
    background-color: rgba(255, 254, 254, 0.63);
}

.small-bg {
    overflow: auto;
    background-repeat: no-repeat;
}

.card-container {
    background-color: rgba(218, 218, 218, 0.253);
}

.loading {
    position: fixed;
    left: 45%;
}

.thehr {
  border: 0.8px solid $grey;
}

@keyframes lds-pacman-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @-webkit-keyframes lds-pacman-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    50% {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
  @keyframes lds-pacman-2 {
    0% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    50% {
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @-webkit-keyframes lds-pacman-2 {
    0% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    50% {
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  @keyframes lds-pacman-3 {
    0% {
      -webkit-transform: translate(190px, 0);
      transform: translate(190px, 0);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(70px, 0);
      transform: translate(70px, 0);
      opacity: 1;
    }
  }
  @-webkit-keyframes lds-pacman-3 {
    0% {
      -webkit-transform: translate(190px, 0);
      transform: translate(190px, 0);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(70px, 0);
      transform: translate(70px, 0);
      opacity: 1;
    }
  }
  
  .lds-pacman > div:nth-child(2) div {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 120px;
    height: 60px;
    border-radius: 120px 120px 0 0;
    background: #a7c979;
    -webkit-animation: lds-pacman-1 1s linear infinite;
    animation: lds-pacman-1 1s linear infinite;
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
  }
  .lds-pacman > div:nth-child(2) div:nth-child(2) {
    -webkit-animation: lds-pacman-2 1s linear infinite;
    animation: lds-pacman-2 1s linear infinite;
  }
  .lds-pacman > div:nth-child(1) div {
    position: absolute;
    top: 92px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #305a68;
    -webkit-animation: lds-pacman-3 1s linear infinite;
    animation: lds-pacman-3 1s linear infinite;
  }
  .lds-pacman > div:nth-child(1) div:nth-child(1) {
    -webkit-animation-delay: -0.67s;
    animation-delay: -0.67s;
  }
  .lds-pacman > div:nth-child(1) div:nth-child(2) {
    -webkit-animation-delay: -0.33s;
    animation-delay: -0.33s;
  }
  .lds-pacman > div:nth-child(1) div:nth-child(3) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .lds-pacman {
    width: 135px !important;
    height: 135px !important;
    -webkit-transform: translate(-67.5px, -67.5px) scale(0.675) translate(67.5px, 67.5px);
    transform: translate(-67.5px, -67.5px) scale(0.675) translate(67.5px, 67.5px);
  }

  .loadertext {
      color: $modalbackground;
  }



