@import '../../variables';

.footer {
  font-family: 'Open Sans Condensed', sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $modalbackground;
  color: $grey;
  text-align: center;
}

p {
  margin-top: 7px;
  margin-bottom: 5px;
}

img {
  margin-right: 10px;
  max-width: 40px;
  max-height: 40px;
}
