<div class="full d-flex justify-content-center">
  <div class="container">
    <div class="row justify-content-center login-box">
      <div class="col-md-6 py-5 border border-dark login">
        <div class="icon-box mb-3">
          <img src="assets/logo_notext.png" alt="logo">
        </div>
        <h2 class="text-center"><span>Regisztráció</span></h2>
        <hr>
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="info-box d-flex justify-content-between">
              <div class="form-group">
                <label for="exampleInputEmail" class="email">Email cím:</label>
                <p>{{user.email}}</p>
              </div>
              <div class="form-group">
                <label for="exampleInputName" class="name">Felhasználó név:</label>
                <p>{{user.name}}</p>
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="exampleInputEmail">Email cím</label>
              <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                placeholder="emailcimed@gmail.com">
            </div>
            -->
            <div class="form-group p-1">
              <label for="exampleInputUserName">Új felhasználó név:</label>
              <input type="text" class="form-control" id="exampleInputUserName" placeholder="makkmarci"
                [(ngModel)]="user.name2">
            </div>
            <div class="form-group p-1">
              <label for="exampleInputPassword">Jelszó:</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Jelszó1234"
                [(ngModel)]="user.password">
              <small class="form-text passwordRequire">Minimum 8 karakterből álljon.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Jelszó újra:</label>
              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Jelszó1234"
                [(ngModel)]="user.password2">
            </div>
            <div *ngIf="isLoginInvalid">
              <p class="passwordError text-center"><span class="p-1">Nem egyezik a két jelszó!</span></p>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-success" (click)="registration()">Regisztrálok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>