<div class="modal-header">
  <h4 class="modal-title">Csoport törlése</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Biztosan ki akarja törölni a csoportot?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary-outline" (click)="activeModal.dismiss()">Mégse</button>
  <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Törlés</button>
</div>
