@import '../../variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

nav {
    background-color: $modalbackground;
    font-family: 'Open Sans Condensed', sans-serif;

    .logo img {
        width: 70px;
        height: auto;
        display: block;
        margin: 0 auto;
    
        @include media-breakpoint-up(md) {
            width: 15%;
        }
        @include media-breakpoint-up(lg) {
            width: 10%;
        }
    }

    button {
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 0 20px;
        border: 1px $logocolor solid;
        background-color: $modalbackground;
        
        a {
            color: $grey;
        }

    }

    button:hover{
        background-color: $logocolor;
        border: 1px black solid;

        a{
            color: black;
        }
    }

    .fas {
        color: $logocolor;
        background-color: $modalbackground;
        border: 1px solid $logocolor;
        border-radius: 50%;
        margin-left: 15px;
    }

    .fas:hover{
        background-color: $logocolor;
        color: black;
    }

    .navbar-toggler{
        background-color: $logocolor;
    }
}
