@import '../../variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

nav {
    background-color: $modalbackground;
    font-family: 'Open Sans Condensed', sans-serif;
    box-shadow: 5px 5px 10px grey;


    .logo img {
        width: 70px;
        height: auto;
        display: block;
        margin: 0 auto;
    
        @include media-breakpoint-up(md) {
            width: 15%;
        }
        @include media-breakpoint-up(lg) {
            width: 10%;
        }
    }

    button {
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 0 20px;
        border: 1px $logocolor solid;
        background-color: $modalbackground;
        color: $logocolor;
        
        a {
            color: $grey;
        }

    }

    button:hover{
        background-color: $logocolor;
        border: 1px black solid;
        color: $modalbackground;

        a{
            color: black;
        }
    }

    .fas {
        padding: 10px 0; 
    }
   
    .navbar-toggler{
        background-color: $logocolor;
    }

    .logout-btn {
        border: none;

        &:hover, &:focus, &:active {
            border: none;
        }
    }
}
