* {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #44585a;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.colorful-buttons {
        margin-right: 30px;
        margin-bottom: 10px; 
        color: white !important;
}


.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.btn-circle-large {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.breakfast {
    background-image: url(~/assets/breakfastLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.elevenses {
    background-image: url(~/assets/applebananaLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lunch {
    background-image: url(~/assets/lunchLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.snack {
    background-image: url(~/assets/lekvaroskenyerLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.dinner {
    background-image: url(~/assets/szendoLogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.background {
    background-image: url(~/assets/background_red.png);
    background-size: cover;
    position: static;
    overflow: auto;
}

.small-bg {
    background-image: url(~/assets/logo_pattern.png);
    overflow: auto;
    background-repeat: no-repeat;
}


.input-group-text {
    color: white;
    background-color: rgba(231, 93, 82, 0.712);
    border: none;
}

.input-group {
    border: none;
}

h1{
    color: white;
    margin-left: 35px;
}

.btn-success:hover {
    color: white !important;
}

