@import '../../../variables';
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';

.full {
    height: 100vh;
    background-size: cover;
    background-image: url('~/assets/login-bg.png');
    letter-spacing: 0.5px;
    color: $grey
}


.main-container {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #C7C6C6;
    background-color: $modalbackground;
    width: 60%;
    height: 80%;
    opacity: 0.9;
    border-radius: 4px;
    box-shadow: 5px 5px 10px grey;
}
.btn {
    border: 1px solid $grey;
    font-weight: bold;
}

.btn-back {
    color: $grey;
}

hr {
    border: 0.5px solid $grey;
    width: 90%;
}

table {
    margin-top: 30px;
    color: $grey;
}

th {
    text-align: center;
}
