<div class="full d-flex justify-content-center">
  <div class="container">
    <div class="row justify-content-center login-box">
      <div class="col-md-6 py-5 border border-dark login">
        <div class="icon-box mb-3">
          <img src="assets/logo_notext.png" alt="logo">
        </div>
        <h2 class="text-center">Üdv a <span>Lead the Feed</span> oldalán!</h2>
        <hr>
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="form-group">
              <label for="exampleInputEmail">Email cím</label>
              <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                placeholder="emailcimed@gmail.com"  [ngClass]="{ 'is-invalid' : isEmailInvalid }"  [(ngModel)]="user.email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword">Jelszó</label>
              <input type="password" class="form-control" id="exampleInputPassword" placeholder="Jelszó1234" [ngClass]="{ 'is-invalid' : isPasswordInvalid }" [(ngModel)]="user.password">
            </div>
            <div *ngIf="isLoginInvalid">
              <p class="passwordError text-center"><span class="p-1">Nem jó jelszót adtál meg!</span></p>
            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-success" (click)="login()">Belépés</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>