<div class="container-fluid">
  <div class="row">
    <div id="recipe-selector" class="col d-flex">
      <div id="filter-bar">filterbar</div>
      <div id="recipe-list">
        <div id="list-box">
          <select name="recipes" id="recipe-select" class="form-control" size="10">
            <option value="Recept 1">Recept 1</option>
            <option value="Recept 2">Recept 2</option>
            <option value="Recept 3">Recept 3</option>
            <option value="Recept 4">Recept 4</option>
            <option value="Recept 5">Recept 5</option>
          </select>
        </div>
      </div>
    </div>
    <!-- <div id="recipe-view" class="col">recipeview -->
    <app-recipe-card id="recipe-card"></app-recipe-card>
    <!-- </div> -->
  </div>
</div>
