<app-navbar>
</app-navbar>
<div class="container-fluid">
  <div class="row">
    <div id="recipe-selector" class="col d-flex">
      <div id="filter-bar">
        <div>Keresés</div>
        <div id="recipe-filter">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Recept név" [(ngModel)]="searchRecipe" (keyup)="filterRecipes()">
        </div>
        <div id="reference-filter">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Referencia csoport" [(ngModel)]="searchReferencePerson" (keyup)="filterRecipes()">
        </div>
      </div>
      <div id="recipe-list">
        <ul name="recipes" id="recipe-select">
          <li *ngFor="let recipe of filteredRecipes" (click)="setCurrentRecipe(recipe)">{{ recipe.recepieName }}</li>
        </ul>
      </div>
    </div>
    <app-recipe-card id="recipe-card" [recipe]="currentRecipe"></app-recipe-card>
  </div>
</div>
