<div class="container-fluid">
  <div class="row">
    <div id="recipe-selector" class="col d-flex">
      <div id="filter-bar">
        <label for="recipe-filter">Keresés</label>
        <input id="recipe-filter" type="text" placeholder="Recept név">
        <input id="reference-filter" type=" text" placeholder="Referencia csoport">
      </div>
      <div id="recipe-list">
        <ul name="recipes" id="recipe-select">
          <li value="Recept 1">Recept 1</li>
          <li value="Recept 2">Recept 2</li>
          <li value="Recept 3">Recept 3</li>
          <li value="Recept 4">Recept 4</li>
          <li value="Recept 5">Recept 5</li>
          <li value="Recept 5">Recept 6</li>
          <li value="Recept 5">Recept 7</li>
          <li value="Recept 5">Recept 8</li>
          <li value="Recept 5">Recept 9</li>
          <li value="Recept 5">Recept 10</li>
          <li value="Recept 5">Recept 11</li>
          <li value="Recept 5">Recept 12</li>
        </ul>
      </div>
    </div>
    <!-- <div id="recipe-view" class="col">recipeview -->
    <app-recipe-card id="recipe-card"></app-recipe-card>
    <!-- </div> -->
  </div>
</div>
