@import "src/variables";
$fat: #bc5f54;
$protein: #4bb89a;
$carb: #e4b101;

#card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: $lettercolor;
}

#title {
  background-color: lightblue;
  margin: 0;
  height: 10%;
  padding-left: 10px;
  font-size: 50px;
  font-weight: 500;
  text-transform: capitalize;
  border-bottom: 1px solid lightgray;
  background-image: url("/assets/logo_notext.png");
  background-size: 10%;
  background-position: 95% 0;
  background-repeat: no-repeat;

}

#ingredients {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
  height: 40%;
}

#nutrition {
  background-color: lightcoral;
  border-bottom: 1px transparent;
  display: flex;
  flex-direction: column;
  height: 40%;
}

#bottom-row {
  background-color: lightseagreen;
  display: flex;
  font-size: 40px;
  align-items: center;
  height: 10%;
}

.small-title {
  height: 65px;
  font-variant-caps: all-small-caps;
  letter-spacing: 1px;
  font-size: 50px;
  padding: 0 15px;
  margin-bottom: 10px;
  align-self: center;
  color: $lettercolor;
}

#ingredient-list {
  overflow-y: auto;
  overflow-x: hidden;
}

.ingredient-item {
  font-size: 30px;
  font-weight: 400;
  height: 50px;
  border-bottom: 1px solid transparent;

  &.add-row {
    padding-top: 10px;
    height: auto;
  }
}

.ingredient-item>div:first-child {
  text-transform: capitalize;
  word-wrap: break-word;
}

.grams::after {
  content: " g";
}

.kcal::after {
  content: " kcal";
}

#nutrition-info {
  border-right: 1px solid lightgray;
}

#nutrition-list {
  align-items: center;
}

.nutrition-item {
  font-size: 28px;
  font-weight: 300;

  &>:last-child {
    flex-grow: 1;
  }
}

.fat::before {
  content: "\26AB";
  color: $fat;
}

.protein::before {
  content: "\26AB";
  color: $protein;
}

.carb::before {
  content: "\26AB";
  color: $carb;
}

.nutrition-item.sub-row {
  font-size: 22px;
  margin-top: -1px;
  padding-left: 3px;
}

#bottom-row button {
  width: 80px;
  text-align: center;
}

#reference-person {
  font-size: 30px;
  display: flex;
  flex-grow: 2;
}

#reference-person>i {
  margin-right: 10px;
}

button>i,
#reference-person>i {
  font-size: 40px;
  color: $modalbackground;
}

button {
  background: transparent;
  border: none;
  padding: 0;
}

button:focus {
  outline: 0;
}

.fa-check:hover,
.fa-edit:hover {
  color: $logocolor;
}

// edit mode
input {
  color: $lettercolor;
  padding: 0 15px;
  border: none;
  border-bottom: solid 1px lightgray;
  text-transform: capitalize;
  background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#reference-person input {
  padding-left: 0;
}

#add-ingredient-button {
  margin: auto;
}

#add-ingredient-button>i {
  font-size: 26px;
  color: darkgreen;
}

#add-ingredient-button>i:hover {
  color: $logocolor;
}

.delete-button>i {
  font-size: 22px;
  color: maroon;
}

.delete-button>i:hover {
  color: red;
}

.fa-times:hover {
  color: red;
}
