<div class="container">
  <div id="card" class="container">
    <h1 id="title" class="breakfast small-logo-right">Zabkása</h1>
    <div id="ingredients">
      <span class="small-title">Hozzávalók</span>
      <div id="ingredient-list" class="container">
        <div *ngFor="let i of ingredients" class="ingredient-item row">
          <div class="col-8">
            {{ i[0] }}
          </div>
          <div class="col-4 grams">
            {{ i[1] }}
          </div>
        </div>
      </div>
    </div>
    <div id="nutrition">
      <div class="small-title">Tápanyagértékek</div>
      <div class="container">
        <div id="nutrition-list" class="row">
          <div id="nutrition-info" class="col-7">
            <div class="nutrition-item row">
              <div class="col-8">
                Zsír
              </div>
              <div class="col-4">
                1.36g
              </div>
            </div>
            <div class="nutrition-item row sub-row">
              <div class="col-8">
                <i class="fas fa-long-arrow-alt-right"></i> ebből telített
              </div>
              <div class="col-4">
                0.94g
              </div>
            </div>
            <div class="nutrition-item row">
              <div class="col-8">
                Fehérje
              </div>
              <div class="col-4">
                2.28g
              </div>
            </div>
            <div class="nutrition-item row">
              <div class="col-8">
                Szénhidrát
              </div>
              <div class="col-4">
                12.74g
              </div>
            </div>
            <div class="nutrition-item row sub-row">
              <div class="col-8">
                <i class="fas fa-long-arrow-alt-right"></i> ebből cukor
              </div>
              <div class="col-4">
                1.36g
              </div>
            </div>
            <div class="nutrition-item row">
              <div class="col-8">
                Energia
              </div>
              <div class="col-4">
                70kcal
              </div>
            </div>
          </div>
          <div id="nutrition-pie" class="col">
            <app-nutrition-pie></app-nutrition-pie>
          </div>
        </div>
      </div>
    </div>
    <div id="bottom-row">
      <span id="reference-person" class="mr-auto"><i class="fas fa-child"></i>{{ referencePerson }}</span>
      <button class=""><i class="fas fa-edit"></i></button>
      <button class=""><i class="fas fa-check"></i></button>
    </div>
  </div>
</div>
