<!-- view mode -->
<div *ngIf="!editMode" class="container">
  <!-- <div class="container"> -->
  <div id="card" class="container">
    <h1 id="title">{{ recipe.recepieName }}</h1>
    <div id="ingredients">
      <span class="small-title">Hozzávalók</span>
      <div id="ingredient-list" class="container">
        <div *ngFor="let ingredient of recipe.ingredients" class="ingredient-item row">
          <div class="col-6">
            {{ getIngredient(ingredient.ingredientId).ingredientName }}
          </div>
          <div class="col-4 grams">
            {{ ingredient.ingredientQuantity }}
          </div>
        </div>
      </div>
    </div>
    <div id="nutrition">
      <div class="small-title">Tápanyagértékek</div>
      <div class="container">
        <div id="nutrition-list" class="row">
          <div id="nutrition-info" class="col-7">
            <div class="nutrition-item row">
              <div class="col-8 fat">
                Zsír
              </div>
              <div class="col-4 grams">
                {{ data.fat | number: ".2-2" }}
              </div>
            </div>
            <div class="nutrition-item row sub-row">
              <div class="col-8">
                <i class="fas fa-long-arrow-alt-right"></i> ebből telített
              </div>
              <div class="col-4 grams">
                {{ data.saturatedFat | number: ".2-2" }}
              </div>
            </div>
            <div class="nutrition-item row">
              <div class="col-8 protein">
                Fehérje
              </div>
              <div class="col-4 grams">
                {{ data.protein | number: ".2-2" }}
              </div>
            </div>
            <div class="nutrition-item row">
              <div class="col-8 carb">
                Szénhidrát
              </div>
              <div class="col-4 grams">
                {{ data.carbs | number: ".2-2" }}
              </div>
            </div>
            <div class="nutrition-item row sub-row">
              <div class="col-8">
                <i class="fas fa-long-arrow-alt-right"></i> ebből cukor
              </div>
              <div class="col-4 grams">
                {{ data.sugar | number: ".2-2" }}
              </div>
            </div>
            <div class="nutrition-item row">
              <div class="col-8">
                Energia
              </div>
              <div class="col-4 kcal">
                {{ data.kcal }}
              </div>
            </div>
          </div>
          <div id="nutrition-pie" class="col">
            <app-nutrition-pie [data]="data"></app-nutrition-pie>
          </div>
        </div>
      </div>
    </div>
    <div id="bottom-row">
      <span id="reference-person" class="mr-auto"><i class="fas fa-child"></i>{{ recipe.referencePerson }}</span>
      <button><i class="fas fa-edit" (click)="toggleEditMode()"></i></button>
      <button><i class="fas fa-check"></i></button>
    </div>
  </div>
</div>

<!-- edit mode -->
<div *ngIf="editMode" class="container">
  <div id="card" class="container">
    <input id="title" type="text" [(ngModel)]="recipeClone.recepieName" focus>
    <div id="ingredients">
      <span class="small-title">Hozzávalók</span>
      <div id="ingredient-list" class="container">
        <div *ngFor="let ingredient of recipeClone.ingredients; let i = index;" class="ingredient-item edit row">
          <!-- <input class="col-6" type="text" [(ngModel)]="getIngredient(ingredient.ingredientId).ingredientName" (input)="calculateNutrition()"> -->
          <ng-select class="col-6" [clearable]="false" [(ngModel)]="recipeClone.ingredients[i].ingredientId" bindLabel="ingredientName"
            bindValue="ingredientId" [items]="ingredients"></ng-select>
          <input class=" col-2 grams" type="number" [(ngModel)]="ingredient.ingredientQuantity" (input)="calculateNutrition(recipeClone.recepieID)">
          <button class="col-2 delete-button" (click)="deleteIngredient(ingredient.ingredientId)"><i class="fas fa-minus-circle"></i></button>
        </div>
        <div class="ingredient-item add-row row"><button id="add-ingredient-button" (click)="addIngredient()"><i class="fas fa-plus-circle"></i></button></div>
      </div>
    </div>
    <div id="nutrition">
      <div class="small-title">Tápanyagértékek</div>
      <div class="container">
        <div id="nutrition-list" class="row">
          <div id="nutrition-info" class="col-7">
            <div class="nutrition-item row">
              <div class="col-8 fat">
                Zsír
              </div>
              <div class="col-4 grams">
                {{ data.fat | number: ".2-2" }}
              </div>
            </div>
            <div class="nutrition-item row sub-row">
              <div class="col-8">
                <i class="fas fa-long-arrow-alt-right"></i> ebből telített
              </div>
              <div class="col-4 grams">
                {{ data.saturatedFat | number: ".2-2" }}
              </div>
            </div>
            <div class="nutrition-item row">
              <div class="col-8 protein">
                Fehérje
              </div>
              <div class="col-4 grams">
                {{ data.protein | number: ".2-2" }}
              </div>
            </div>
            <div class="nutrition-item row">
              <div class="col-8 carb">
                Szénhidrát
              </div>
              <div class="col-4 grams">
                {{ data.carbs | number: ".2-2" }}
              </div>
            </div>
            <div class="nutrition-item row sub-row">
              <div class="col-8">
                <i class="fas fa-long-arrow-alt-right"></i> ebből cukor
              </div>
              <div class="col-4 grams">
                {{ data.sugar | number: ".2-2" }}
              </div>
            </div>
            <div class="nutrition-item row">
              <div class="col-8">
                Energia
              </div>
              <div class="col-4 kcal">
                {{ data.kcal | number: ".0" }}
              </div>
            </div>
          </div>
          <div id="nutrition-pie" class="col">
            <app-nutrition-pie [data]="data"></app-nutrition-pie>
          </div>
        </div>
      </div>
    </div>
    <div id="bottom-row">
      <span id="reference-person" class="mr-auto"><i class="fas fa-child"></i><input id="reference-person" type="text"
          class="mr-auto" [(ngModel)]="recipeClone.referencePerson"></span>
      <button><i class="fas fa-times" (click)="toggleEditMode()"></i></button>
      <button><i class="fas fa-check"></i></button>
    </div>
  </div>
</div>
