<div class="container mt-5 mb-3 header">
  <div class="row justify-content-between">
    <div>
      <h2>Csoport létrehozása</h2>
    </div>
    <div>
      <button class="btn btn-outline-success"> Mentés </button>
      <button class="btn btn-outline-success back-button">
        Vissza
      </button>
    </div>
  </div>
</div>

<div class="container body">
  <div class="new-row">
    <input type="text" class="form-control" placeholder="csoport neve">

    <button class="btn btn-outline-success">alcsoport létrehozása</button>
  </div>

  <select name="" id=""></select>
</div>
