<app-navbar></app-navbar>

<div class="hero">
  <div class="container mt-5 mb-5 pt-3 pb-3">
    <div class="text">
      <h1>Csoportok</h1>
    </div>
  </div>
</div>

<div class="container mt-5 mb-3 header">
  <div class="row">
    <div class="col-6">
      <h2>Csoport létrehozása</h2>
    </div>
    <div class="col-6 text-right">
      <button class="btn btn-success save-btn" (click)="addGroup()" >Mentés</button>
      <button class="btn btn-info back-button" routerLink="/groups">
        Vissza
      </button>
    </div>
  </div>
</div>

<div class="container body">


  <div class="form-group row">
    <label for="groupname" class="col-sm-2 col-form-label">Csoport neve</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="groupname" [(ngModel)]="groupDisplay.name">
    </div>
    <div class="addbuttons add col-sm-2 text-right">
      <button class="btn btn-outline-warning add-subgroup"(click)="addSubgroup()">Alcsoport hozzáadása</button>
    </div>
  </div>

  <hr>


  <div class="row justify-content-between">

    <div class="subgroup col-md-6" *ngFor="let sg of groupDisplay.subGroups; let i=index">

      <div class="subgroup-box">

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Alcsoport neve</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="sg.name">
          </div>
          <div class="col-sm-2 text-right">
            <button class="btn btn-danger delete-btn" (click)="deleteSubgroup(i)">
              <i class="fas fa-times"></i>
            </button>
          </div>

        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Korosztály</label>
          <div class="col-sm-6">
            <select class="form-control" [(ngModel)]="sg.agegroup">
              <option *ngFor="let enum of ageEnum" [value]="enum.key">{{enum.value}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Létszám</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="sg.numberOfPersons">
          </div>
        </div>

        <div class="form-group row allergens" *ngFor="let a of sg.allergens; let i = index; let first = first; trackBy: trackFn">
          <label class="col-sm-4 col-form-label">
              <span *ngIf="first">Allergének</span>
          </label>
          <div class="col-sm-6">
            <select class="form-control" [(ngModel)]="sg.allergens[i]">
              <option *ngFor="let enum of allergenEnum" [value]="enum.key">{{enum.value}}</option>
            </select>
          </div>
          <div class="col-sm-2 text-right">
            <button class="btn btn-outline-secondary delete-btn x-btn" (click)="deleteAllergen(sg, i)">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>

        <div class="form-group row">
          <div class="addbuttons col-sm-8 offset-sm-4">
            <button class="btn btn-outline-warning" (click)="addAllergen(sg)">Allergén hozzáadása</button>
          </div>
        </div>

        <div class="form-group row nutritions" *ngFor="let n of sg.maxValues; let i = index; trackBy: trackFn">
          <select class="col-sm-4 form-control" [(ngModel)]="sg.maxValues[i].type">
            <option *ngFor="let enum of nutritionDisplayEnum" [value]="enum.key">{{enum.value}}</option>
          </select>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="sg.maxValues[i].value">
          </div>
          <div class="col-sm-2 text-right">
            <button class="btn btn-outline-secondary delete-btn x-btn" (click)="deleteNutrition(sg, i)">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>

        <div class="form-group row">
          <div class="addbuttons col-sm-8 offset-sm-4">
            <button class="btn btn-outline-warning" (click)="addNutrition(sg)">Napi maximum értékek hozzáadása</button>
          </div>
        </div>

      </div>
    </div>

  </div>


</div>
