@import "../../variables";

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: $lettercolor;
}

.header .btn {
  margin-left: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.body .btn {
  font-family: 'Open Sans Condensed', sans-serif;
}

.x-btn {
    border:none;
}

.subgroup-box {
  background-color: #f5faea;
  padding: 25px;
  margin: 15px;
  border-radius: 15px;
}

.btn-outline-warning {
  background-color: white;
}

.btn-outline-warning:hover {
  background-color: #ffbb33;
  color: white;
}
