<!-- TODO NAVBAR   ??? ez kell egyáltalán ???? -->
<div class="full d-flex justify-content-center">
  <div class="main-container">
    <div class="container mt-5 mb-3">
        <div class="icon-box mb-3">
          <img src="assets/logo_notext.png" alt="logo">
        </div>
      <div class="header row justify-content-center">

          <h2>Felhasználó hozzáadása</h2>

        <!--
        <div class="col-3 text-right">
          <a class="btn btn-outline-primary" routerLink="/dashboard">Vissza</a>
        </div>
        -->
      </div>
    </div>
    <hr>

    <div class="container">
      <div class="form-group name-group">
        <label for="inputName">Név</label>
        <input type="name" class="form-control" id="inputName" [ngClass]="{'is-invalid' : isNameInvalid }" [(ngModel)]="userName" (blur)="checkName()" placeholder="név">
        <!--  [ngClass]="{'is-invalid' : isNameInvalid }" [(ngModel)]="user.name" (blur)="checkName()" -->
        <div class="invalid-feedback">Kérlek, add meg a neved!</div>
      </div>
      <div class="form-group email-group">
        <label for="inputEmail">E-mail cím</label>
        <input type="email" class="form-control" id="inputEmail" [ngClass]="{ 'is-invalid' : errors.email }" [(ngModel)]="userEmail" (blur)="checkEmail()" placeholder="emailcimed@gmail.com">
        <!--  [ngClass]="{ 'is-invalid' : errors.email }" id="inputEmail" [(ngModel)]="user.email" (blur)="checkEmail()" -->
        <div class="invalid-feedback" *ngIf="errors.emailEmpty">Adj meg email címet</div>
        <div class="invalid-feedback" *ngIf="errors.emailInvalid">Nem megfelő email</div>
      </div>
      <!-- TODO  -->


      <div class="form-group authority-group">
        <label for="inputAuthority">Jogosultság</label>
        <select class="custom-select my-1 mr-sm-2" id="inputAuthority" [(ngModel)]="authority">
          <!--  [(ngModel)]="user.authority" -->
          <option *ngFor="let a of authority" [value]="a">{{a}}</option> <!--   -->

        </select>
      </div>
      <div class="btn-container d-flex justify-content-center justify-content-between">
        <button type="button" class="btn btn-success add-button" (click)="add()">Hozzáadás</button>
         <a class="btn btn-back btn-outline-primary" routerLink="/dashboard">Vissza</a>
      </div>
      <!--  TODO FOOTER insert -->

    </div>
  </div>
</div>
