@import '../../../../variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.hero {
  background-image: url("~/assets/login-bg.png");
  background-size: cover;
  height: 100vh;
  position: static;
  overflow: auto;
}

.full {
  letter-spacing: 0.5px;
}

.icon-box img {
  height: auto;
  display: block;
  margin: 0 auto;
  // @include media-breakpoint-up(md) {
  //     width: 15%;
  // }
  // @include media-breakpoint-up(lg) {
  //     width: 10%;
  // }
}

.container {
  width: 80%;
}

.main-container {
  color: #C7C6C6;
  background-color: $modalbackground;
  color: $grey;
  width: 40%;
  opacity: 0.9;
  border-radius: 4px;
  box-shadow: 5px 5px 10px grey;

  hr {
    border: 0.5px solid $grey;
    width: 90%;
  }
}

.btn-container {
  padding-top: 10px;
  padding-bottom: 50px;

  .btn {
    border: 1px solid $grey;
    font-weight: bold;
  }

}

.fas {
    //color: LawnGreen;
    color: $logocolor;
    size: contain;
}

.invalid-feedback {
  color: yellow;
}

.success-add {
  color: LawnGreen;
  font-weight: bold;
}

.error-add {
  color: yellow;
  font-weight: bold;
}
