

<div class="container mt-5 mb-3 header">
  <div class="row justify-content-between">
    <div>
      <h2>Csoportjaim</h2>
    </div>
    <div>

      <button class="btn btn-outline-success back-button" routerLink="/groups">
        Vissza
      </button>
    </div>
  </div>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr class="t-header">
        <th scope="col">
          <span *ngIf="!isHeaderEditMode">Mókuska csoport</span>
          <input *ngIf="isHeaderEditMode" type="text" class="form-control" placeholder="Mókuska csoport">
        </th>
        <th scope="col">
          <span *ngIf="!isHeaderEditMode">26 fő</span>
          <input *ngIf="isHeaderEditMode" type="text" class="form-control" placeholder="26 fő">
        </th>
        <th scope="col">
        </th>
        <th scope="col">
          <button class="icon btn" *ngIf="!isHeaderEditMode" (click)="editHeader()"> <i class="fas fa-edit"></i>
          </button>
          <button class="icon btn" *ngIf="isHeaderEditMode" (click)="saveHeader()"> <i class="fas fa-check"></i>
          </button>
        </th>
        <th scope="col">
          <button class="icon btn"> <i class="fas fa-trash-alt"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5">

          <table class="table table-bordered">
            <thead>
              <tr class="t-header">
                <th scope="col"></th>
                <th scope="col">Korosztály</th>
                <th scope="col">Hány fő</th>
                <th scope="col">
                  <button class="icon btn"> <i class="fas fa-plus"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" class="form-control">
                </td>
                <td>
                  <input type="text" class="form-control">
                </td>
                <td>
                  <input type="text" class="form-control">
                </td>
                <td>
                  <button class="btn btn-outline-success info-btn">Mentés</button>
                </td>
              </tr>

            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>


</div>
