<div id="hero">
  <div class="container">
    <img src="~/assets/green2.png" alt="">
  </div>
</div>

<div id="features">
  <div class="container">
    <div class="box">
      <i class="fas fa-users"></i>
      <h2>Dolgozz a saját csoportjaiddal</h2>
      <p>Létrehozhatsz csoportokat, akiket kategorizálhatsz ételérzékenységük alapján</p>
    </div>
    <div class="box">
      <i class="fas fa-utensils"></i>
      <h2>Készíts új ételeket</h2>
      <p>Böngészheted a már létrehozott ételeket, de saját igényeid szerint újakat is létrehozhatsz.</p>
    </div>
    <div class="box">
      <i class="fas fa-file-invoice"></i>
      <h2>Állíts össze étlapokat</h2>
      <p>Az elkészített ételekből könnyen összeállíthatsz akár egy heti menüt, hiszen közben folyamatosan látod az aktuális tápanyagmennyiséget.</p>
    </div>
  </div>
</div>