<div class="card">
  <div class="card-body text-center">
    <h4 class="card-title" style="display: inline-block;">{{ data.dayNumber }}. nap</h4>
    <button type="button" class="close" aria-label="Close" (click)="deleteColumn()"
      *ngIf="mode == 'add' || mode == 'edit'">
      <span aria-hidden="true">&times;</span>
    </button>

    <hr>
    <div class="row justify-content-center import-btn">
      <button type="button" *ngIf="mode == 'add' || mode == 'edit'" class="btn btn-outline-danger mb-3">Teljes nap
        importálása</button>
    </div>

    <div class="breakfast row mt-2 mb-2 flex-row justify-content-center pt-1">
      <div class="col-sm-4"></div>
      <div class="justify-content-center col-sm-4">
        <h5>Reggeli</h5>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-secondary btn-circle" *ngIf="mode == 'add' || mode == 'edit'"
          (click)="addBreakfast()"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <ul class="list-group" *ngIf="mode == 'view'">
      <li class="list-group-item" *ngFor="let b of data.breakfastRecipeIDs">{{b | recipeName}}</li>
    </ul>
    <ng-container *ngIf="mode == 'add' || mode == 'edit'">
      <div *ngFor="let b of data.breakfastRecipeIDs; let i = index; trackBy:trackByFn">
        <div class="mb-2 d-flex align-items-center">
          <ng-select [(ngModel)]="data.breakfastRecipeIDs[i]" [items]="recipes" bindLabel="recepieName"
            bindValue="recepieID" (change)="calculateDayNutrition()">
            <!-- <ng-option *ngFor="let recipe of recipes" [value]="recipe.recepieID">{{recipe.recipeName}}</ng-option>
          <ng-option [value]="'custom'">Custom</ng-option> -->
          </ng-select>
          <div class="ml-2 d-flex align-items-center" *ngIf="mode == 'add' || 'edit'">
            <button type="button" class="close" aria-label="Close" *ngIf="mode == 'add' || mode == 'edit'"
              (click)="deleteBreakfast(b)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="elevenses row mt-2 mb-2 flex-row justify-content-center pt-1">
      <div class="col-sm-4"></div>
      <div class="justify-content-center col-sm-4">
        <h5>Tízórai</h5>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-secondary btn-circle" *ngIf="mode == 'add' || mode == 'edit'"
          (click)="addEllevenses()"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <ul class="list-group" *ngIf="mode == 'view'">
      <li class="list-group-item" *ngFor="let b of data.forenoonSnackRecipeIDs">{{b | recipeName}}</li>
    </ul>
    <ng-container *ngIf="mode == 'add' || mode == 'edit'">
      <div *ngFor="let ellevenses of data.forenoonSnackRecipeIDs; let i = index; trackBy:trackByFn">
        <div class="mb-2 d-flex align-items-center">
          <ng-select [(ngModel)]="data.forenoonSnackRecipeIDs[i]" [items]="recipes" bindLabel="recepieName"
            bindValue="recepieID" (change)="calculateDayNutrition()">
            <!-- <ng-option *ngFor="let recipe of recipes" [value]="recipe.recepieID">{{recipe.recipeName}}</ng-option>
          <ng-option [value]="'custom'">Custom</ng-option> -->
          </ng-select>
          <div class="ml-2 d-flex align-items-center">
            <button type="button" class="close" aria-label="Close" *ngIf="mode == 'add' || mode == 'edit'"
              (click)="deleteEllevenses(ellevenses)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="lunch row mt-2 mb-2 flex-row justify-content-center pt-1">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 justify-content-center">
        <h5>Ebéd</h5>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-secondary btn-circle" *ngIf="mode == 'add' || mode == 'edit'"
          (click)="addLunch()"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <ul class="list-group" *ngIf="mode == 'view'">
      <li class="list-group-item" *ngFor="let b of data.lunchRecipeIDs">{{b | recipeName}}</li>
    </ul>
    <ng-container *ngIf="mode == 'add' || mode == 'edit'">
      <div *ngFor="let lunch of data.lunchRecipeIDs; let i = index; trackBy:trackByFn">
        <div class="mb-2 d-flex align-items-center">
          <ng-select [(ngModel)]="data.lunchRecipeIDs[i]" [items]="recipes" bindLabel="recepieName"
            bindValue="recepieID" [compareWith]="selectedFn" (change)="calculateDayNutrition()"></ng-select>
          <div class="ml-2 d-flex align-items-center">
            <button type="button" class="close" aria-label="Close" *ngIf="mode == 'add' || mode == 'edit'"
              (click)="deleteLunch(lunch)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="snack row mt-2 mb-2 flex-row justify-content-center pt-1">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 justify-content-center">
        <h5>Uzsonna</h5>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-secondary btn-circle" *ngIf="mode == 'add' || mode == 'edit'"
          (click)="addSnack()"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <ul class="list-group" *ngIf="mode == 'view'">
      <li class="list-group-item" *ngFor="let b of data.afternoonSnackRecipeIDs">{{b | recipeName}}</li>
    </ul>
    <ng-container *ngIf="mode == 'add' || mode == 'edit'">
      <div *ngFor="let snack of data.afternoonSnackRecipeIDs; let i = index; trackBy:trackByFn">
        <div class="mb-2 d-flex align-items-center">
          <ng-select [(ngModel)]="data.afternoonSnackRecipeIDs[i]" [items]="recipes" bindLabel="recepieName"
            bindValue="recepieID" (change)="calculateDayNutrition()">
            <!-- <ng-option *ngFor="let recipe of recipes" [value]="recipe.recepieID">{{recipe.recipeName}}</ng-option>
          <ng-option [value]="'custom'">Custom</ng-option> -->
          </ng-select>
          <div class="ml-2 d-flex align-items-center">
            <button type="button" class="close" aria-label="Close" *ngIf="mode == 'add' || mode == 'edit'"
              (click)="deleteSnack(snack)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="dinner row mt-2 mb-2 flex-row justify-content-center pt-1">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 justify-content-center">
        <h5>Vacsora</h5>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-secondary btn-circle" *ngIf="mode == 'add' || mode == 'edit'"
          (click)="addDinner()"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <ul class="list-group" *ngIf="mode == 'view'">
      <li class="list-group-item" *ngFor="let b of data.dinnerSnackRecipeIDs">{{b | recipeName}}</li>
    </ul>
    <ng-container *ngIf="mode == 'add' || mode == 'edit'">
      <div *ngFor="let dinner of data.dinnerSnackRecipeIDs; let i = index; trackBy:trackByFn">
        <div class="mb-2 d-flex align-items-center">
          <ng-select [(ngModel)]="data.dinnerSnackRecipeIDs[i]" [items]="recipes" bindLabel="recepieName"
            bindValue="recepieID" (change)="calculateDayNutrition()">
            <!-- <ng-option *ngFor="let recipe of recipes" [value]="recipe.recepieID">{{recipe.recipeName}}</ng-option>
          <ng-option [value]="'custom'">Custom</ng-option> -->
          </ng-select>
          <div class="ml-2 d-flex align-items-center">
            <button type="button" class="close" aria-label="Close" *ngIf="mode == 'add' || mode == 'edit'"
              (click)="deleteDinner(dinner)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <hr>


  <div class="d-flex justify-content-center">
    <h5 style="display: inline-block;">Összesített tápanyagtartalom</h5>
  </div>
  <div class="flex-row d-flex flex-column">
    <div class="nutri-list-row pt-2">
      <div class="flex-row d-flex justify-content-center">
        <div id="nutrition-list" class="container">
          <div class="nutrition-item row flex-row">
            <div class="col component">Zsír</div>
            <div class="col">{{dayNutrition.fat | number: ".2-2"}} g</div>
          </div>
          <div class="flex-row row subdetails">
            <div class="col nutrition-item">
              <i class="fas fa-long-arrow-alt-right pt-1">&nbsp;&nbsp;
              </i> ebből telített: &nbsp;&nbsp; {{dayNutrition.saturatedFat | number: ".2-2"}} g
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-2 pb-2">
      <div class="flex-row d-flex justify-content-center">
        <div id="nutrition-list">
          <div class="nutrition-item row flex-row">
            <div class="col component">Fehérje</div>
            <div>{{dayNutrition.protein | number: ".2-2"}} g</div>
          </div>
        </div>
      </div>
    </div>
    <div class="nutri-list-row pt-2">
      <div class="flex-row d-flex justify-content-center">
        <div id="nutrition-list" class="container">
          <div class="nutrition-item row flex-row">
            <div class="col component">Szénhidrát</div>
            <div class="col">{{dayNutrition.carbs | number: ".2-2"}} g</div>
          </div>
          <div class="flex-row subdetails">
            <div class="nutrition-item row">
              <i class="fas fa-long-arrow-alt-right pt-1">&nbsp;&nbsp;
              </i>
              <p>ebből cukor: &nbsp;&nbsp; </p>
              <div>{{dayNutrition.sugar}} g</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-2 pb-2">
      <div class="d-flex flex-row justify-content-center">
        <div id="nutrition-list">
          <div class="nutrition-item row flex-row">
            <div class="col component">Energia</div>
            <div>{{dayNutrition.kcal | number: ".2-2"}} Kcal</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
