<div class="card">
  <div class="card-body text-center">
    <h4 class="card-title" style="display: inline-block;">{{ data.dayNumber }}. nap</h4>
    <button type="button" class="close" aria-label="Close" (click)="deleteColumn()"
      *ngIf="mode == 'add' || mode == 'edit'">
      <span aria-hidden="true">&times;</span>
    </button>

    <hr>
    <div class="row justify-content-center import-btn">
      <button type="button" *ngIf="mode == 'add' || mode == 'edit'" class="btn btn-outline-danger mb-3">Teljes nap
        importálása</button>
    </div>

    <div class="breakfast row mt-2 mb-2 flex-row justify-content-center pt-1">
      <div class="col-sm-4"></div>
      <div class="justify-content-center col-sm-4">
        <h5>Reggeli</h5>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-secondary btn-circle" *ngIf="mode == 'add' || mode == 'edit'"
          (click)="addBreakfast()"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <div *ngFor="let breakfast of data.breakfast; let i = index;">
      <div class="mb-2 d-flex align-items-center">
        <input id="typeahead-basic" type="text" class="form-control form-control-sm" [ngbTypeahead]="search"
          [value]="breakfast" (change)="onChange($event, i)" [disabled]="mode == 'view'" />
        <div class="ml-2 d-flex align-items-center" *ngIf="mode == 'add' || 'edit'">
          <button type="button" class="close" aria-label="Close" *ngIf="mode == 'add' || mode == 'edit'"
            (click)="deleteBreakfast(breakfast)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <div class="elevenses row mt-2 mb-2 flex-row justify-content-center pt-1">
      <div class="col-sm-4"></div>
      <div class="justify-content-center col-sm-4">
        <h5>Tízórai</h5>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-secondary btn-circle" *ngIf="mode == 'add' || mode == 'edit'"
          (click)="addEllevenses()"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <div *ngFor="let ellevenses of data.ellevenses; let i = index;">
      <div class="mb-2 d-flex align-items-center">
        <input id="typeahead-basic" type="text" class="form-control form-control-sm" [ngbTypeahead]="search"
          [value]="ellevenses" (change)="onChangeEllevenses($event, i)" [disabled]="mode == 'view'" />
        <div class="ml-2 d-flex align-items-center">
          <button type="button" class="close" aria-label="Close" *ngIf="mode == 'add' || mode == 'edit'"
            (click)="deleteEllevenses(ellevenses)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <div class="lunch row mt-2 mb-2 flex-row justify-content-center pt-1">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 justify-content-center">
        <h5>Ebéd</h5>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-secondary btn-circle" *ngIf="mode == 'add' || mode == 'edit'"
          (click)="addLunch()"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <div *ngFor="let lunch of data.lunch; let i = index;">
      <div class="mb-2 d-flex align-items-center">
        <input id="typeahead-basic" type="text" class="form-control form-control-sm" [ngbTypeahead]="search"
          [value]="lunch" (change)="onChangeLunch($event, i)" [disabled]="mode == 'view'" />
        <div class="ml-2 d-flex align-items-center">
          <button type="button" class="close" aria-label="Close" *ngIf="mode == 'add' || mode == 'edit'"
            (click)="deleteLunch(lunch)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>


    <div class="snack row mt-2 mb-2 flex-row justify-content-center pt-1">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 justify-content-center">
        <h5>Uzsonna</h5>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-secondary btn-circle" *ngIf="mode == 'add' || mode == 'edit'"
          (click)="addSnack()"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <div *ngFor="let snack of data.snack; let i = index;">
      <div class="mb-2 d-flex align-items-center">
        <input id="typeahead-basic" type="text" class="form-control form-control-sm" [ngbTypeahead]="search"
          [value]="snack" (change)="onChangeSnack($event, i)" [disabled]="mode == 'view'" />
        <div class="ml-2 d-flex align-items-center">
          <button type="button" class="close" aria-label="Close" *ngIf="mode == 'add' || mode == 'edit'"
            (click)="deleteSnack(snack)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>

    <div class="dinner row mt-2 mb-2 flex-row justify-content-center pt-1">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 justify-content-center">
        <h5>Vacsora</h5>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-outline-secondary btn-circle" *ngIf="mode == 'add' || mode == 'edit'"
          (click)="addDinner()"><i class="fas fa-plus"></i></button>
      </div>
    </div>
    <div *ngFor="let dinner of data.dinner; let i = index;">
      <div class="mb-2 d-flex align-items-center">
        <input id="typeahead-basic" type="text" class="form-control form-control-sm" [ngbTypeahead]="search"
          [value]="dinner" (change)="onChangeDinner($event, i)" [disabled]="mode == 'view'" />
        <div class="ml-2 d-flex align-items-center">
          <button type="button" class="close" aria-label="Close" *ngIf="mode == 'add' || mode == 'edit'"
            (click)="deleteDinner(dinner)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr>


  <div class="d-flex justify-content-center">
    <h5 style="display: inline-block;">Összesített tápanyagtartalom</h5>
  </div>
  <div class="d-flex flex-column justify-content-center">
    <div class="nutri-list-row pt-2">
      <div class="flex-row d-flex justify-content-center">
        <div id="nutrition-list">
          <div class="nutrition-item row">
            <div class="col component">Zsír</div>
            <div class="col-4">15g</div>
          </div>
          <div class="nutrition-item row sub-row">
            <i class="fas fa-long-arrow-alt-right col pt-1">
            </i>
            <p>ebből telített: </p>
            <div class="col">0.6g</div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-2 pb-2">
      <div class="flex-row d-flex justify-content-center">
        <div id="nutrition-list">
          <div class="nutrition-item row">
            <div class="col component">Fehérje</div>
            <div class="col">1.4g</div>
          </div>
        </div>
      </div>
    </div>
    <div class="nutri-list-row pt-2">
      <div class="flex-row d-flex justify-content-center">
        <div id="nutrition-list">
          <div class="nutrition-item row">
            <div class="col component">Szénhidrát</div>
            <div class="col-5">1.4g</div>
          </div>
          <div class="flex-row nutrition-item row sub-row">
            <i class="fas fa-long-arrow-alt-right col pt-1">
            </i>
            <p>ebből cukor: </p>
            <div class="col">0.6g</div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-2 pb-2">
      <div class="d-flex flex-row justify-content-center">
        <div id="nutrition-list">
          <div class="nutrition-item row">
            <div class="col component">Energia</div>
            <div class="">450 Kcal</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>