<app-navbar></app-navbar>

<div class="container mt-5 mb-3 header">
  <div class="row justify-content-between">
    <div>
      <h2>Csoportjaim</h2>
    </div>
    <div>
      <button class="btn btn-outline-success add-group">
        Új csoport létrehozása
      </button>
      <button class="btn btn-outline-success back-button">
        Vissza
      </button>
    </div>
  </div>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr class="t-header">
        <th scope="col">Mókuska csoport</th>
        <th scope="col">26 fő</th>
        <th scope="col">
          <button class="icon btn" *ngIf="!subGroups" (click)="openSubGroups()"> <i class="fas fa-angle-double-down"></i>
          </button>
          <button class="icon btn" *ngIf="subGroups" (click)="closeSubGroups()"> <i class="fas fa-angle-double-right"></i>
          </button>
        </th>
        <th scope="col">
          <button class="icon btn" routerLink="/groups/editgroup"> <i class="fas fa-edit"></i>
          </button>
        </th>
        <th scope="col">
          <button class="icon btn"> <i class="fas fa-trash-alt"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5">

          <table class="table table-bordered" *ngIf="subGroups">
            <thead>
              <tr class="t-header">
                <th scope="col"></th>
                <th scope="col">Korosztály</th>
                <th scope="col">Hány fő</th>
                <th scope="col">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>gluténérzékenyek</td>
                <td>4-5</td>
                <td>3</td>
                <td>
                  <button class="btn btn-outline-success info-btn">Bővebben</button>
                </td>
              </tr>
              <tr>
                <td>glutén és laktóz érzékenyek</td>
                <td>4-5</td>
                <td>2</td>
                <td>
                  <button class="btn btn-outline-success info-btn">Bővebben</button>
                </td>
              </tr>
              <tr>
                <td>normál</td>
                <td>4-5</td>
                <td>12</td>
                <td>
                  <button class="btn btn-outline-success info-btn">Bővebben</button>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>


</div>
