<div class="container">
  <h1>Csoportjaim:</h1>
</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Mókuska csoport</th>
        <th scope="col">26 fő</th>
        <th scope="col">
          <button class="icon btn">
            <i class="fas fa-angle-down"></i>
          </button>
        </th>
        <th scope="col">
          <button class="btn btn-success">Szerkesztés</button>
        </th>
        <th scope="col">
          <button class=" btn btn-primary">Törlés</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Csoport</th>
                <th scope="col">Korosztály</th>
                <th scope="col">Hány fő</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>gluténérzékenyek</td>
                <td>4-5</td>
                <td>3</td>
              </tr>
              <tr>
                <td>glutén és laktóz érzékenyek</td>
                <td>4-5</td>
                <td>2</td>
              </tr>
              <tr>
                <td>normál</td>
                <td>4-5</td>
                <td>12</td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Mókuska csoport</th>
        <th scope="col">26 fő</th>
        <th scope="col">
          <button class="icon btn">
            <i class="fas fa-angle-down"></i>
          </button>
        </th>
        <th scope="col">
          Szerkesztés
        </th>
        <th scope="col">
          <button class=" btn btn-primary">Törlés</button>
        </th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

</div>
