<app-navbar></app-navbar>
<div class="container mt-5 mb-3 header">
  <div class="row justify-content-between">
    <div>
      <h2>Csoportjaim</h2>
    </div>
    <div>
      <button class="btn btn-outline-success add-group" routerLink="/groups/add">
        Új csoport létrehozása
      </button>
      <button class="btn btn-info back-button">
        Vissza
      </button>
    </div>
  </div>
</div>

<div class="container">
  <table class="table" *ngFor="let g of groups">
    <thead>
      <tr class="t-header">
        <th scope="col">{{ g.name }}</th>
        <th scope="col">{{ countTotalNumberOfPersons(g) }}  fő</th>
        <th scope="col">
          <button class="icon btn" *ngIf="!g.isOpen" (click)="openSubGroups(g)"> <i class="fas fa-angle-double-down"></i>
          </button>
          <button class="icon btn" *ngIf="g.isOpen" (click)="closeSubGroups(g)"> <i class="fas fa-angle-double-up"></i>
          </button>
        </th>
        <th scope="col">
          <button class="icon btn" [routerLink]="['/groups/editgroup', g.id]"> <i class="fas fa-edit"></i>
          </button>
        </th>
        <th scope="col">
          <button class="icon btn" (click)=deleteGroup()> <i class="fas fa-trash-alt"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5">

          <table class="table table-bordered" *ngIf="g.isOpen">
            <thead>
              <tr class="t-header">
                <th scope="col">Alcsoport</th>
                <th scope="col">Korosztály</th>
                <th scope="col">Létszám</th>
                <th scope="col">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sg of g.subGroups">
                <td>{{ sg.name }}</td>
                <td>{{ sg.agegroup }}</td>
                <td>{{ sg.numberOfPersons }}</td>
                <td>
                  <button class="btn btn-outline-warning info-btn">Tulajdonságok</button>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>

</div>
