@import "../../variables";

.hero {
  background-image: url("~/assets/yellow-bg.png");
  background-size: cover;
  position: static;
  overflow: auto;

  h1 {
    position: absolute;
    color: white;
    margin-left: 20px;
    margin-top: -20px;
  }
}

.header .btn {
  margin-left: 10px;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: $lettercolor;
}

.add-group,
.back-button,
.info-btn {
  font-family: 'Open Sans Condensed', sans-serif;
}

.t-header th {
  &:nth-child(1) {
    width: 35%;
  }

  &:nth-child(2) {
    width: 20%;
  }

  &:nth-child(3) {
    width: 15%;
  }

  &:nth-child(4) {
    width: 15%;
  }

  &:nth-child(5) {
    width: 15%;
  }
}

tr {
  font-family: 'Open Sans Condensed', sans-serif;
}

tr th {
  vertical-align: middle;
}

tr td {
  vertical-align: middle;
}

.t-header th,
i {
  background-color: #f5faea;
  color: $lettercolor;
}

.icon {
  border: none;
  background: transparent;
}

.btn-outline-warning {
  background-color: white;
}

.btn-outline-warning:hover {
  background-color: #ffbb33;
  color: white;
}
