$modalbackground: #305a68;
$logocolor: #a7c979;
$lettercolor: #44585a;
$fontFamily: 'Open Sans Condensed',
sans-serif;
$titleFontSize: 22px;
$smallFontSize: 14px;

//a &modalbackground háttére írt betűk színe:
$grey : #C7C6C6;

// logok
$appleBananaLogo: url("/assets/applebananaLogo.png");
$breakfastLogo: url("/assets/breakfastLogo.png");
$eggLogo: url("/assets/eggLogo.png");
$labosLogo: url("/assets/labosLogo.png");
$lekvaroskenyerLogo: url("/assets/lekvaroskenyerLogo.png");
$lunchLogo: url("/assets/lunchLogo.png");
$szendoLogo: url("/assets/szendoLogo.png");
