/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~bootstrap/scss/bootstrap';

$fa-font-path: 'assets/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

html,
body {
  min-height: 100vh;
  font-size: 16px;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: $lettercolor;
  padding-bottom: 56px;
  position: relative;
}

h1 {
  color: $modalbackground;
}

.table-tr {
  background-color: $modalbackground;
  color: $logocolor;
  box-shadow: 3px 3px 2px grey;
}

// predefined logok, pl. class='small-logo-right breakfast' hozzáadja egy címsor jobb oldalához
.small-logo-right {
  background-size: 15%;
  background-position-x: 95%;
  background-repeat: no-repeat;
}

.breakfast {
  background-image: $breakfastLogo;
}

.apple-banana {
  background-image: $appleBananaLogo;
}

.egg {
  background-image: $eggLogo;
}

.labos {
  background-image: $labosLogo;
}

.lekvaroskenyer {
  background-image: $lekvaroskenyerLogo;
}

.lunch {
  background-image: $lunchLogo;
}

.szendo {
  background-image: $szendoLogo;
}

.modal-content {
  border: none;
}

app-logout-modal {
  .modal-header {
    background: $modalbackground;
    color: $grey;
    font-weight: bold;
  }

  .close {
    color: white;
  }

  .back {
    font-family: 'Open Sans Condensed', sans-serif;
    color: $logocolor;
    border: 1px solid $logocolor;
  }

  .back:hover {
    color: black;
    background-color: $logocolor;
  }
}
