/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~bootstrap/scss/bootstrap';

$fa-font-path: 'assets/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

// predefined logok, pl. class='small-logo-right breakfast' hozzáadja egy címsor jobb oldalához
.small-logo-right {
  background-size: 15%;
  background-position-x: 95%;
  background-repeat: no-repeat;
}

.breakfast {
  background-image: $breakfastLogo;
}

.apple-banana {
  background-image: $appleBananaLogo;
}

.egg {
  background-image: $eggLogo;
}

.labos {
  background-image: $labosLogo;
}

.lekvaroskenyer {
  background-image: $lekvaroskenyerLogo;
}

.lunch {
  background-image: $lunchLogo;
}

.szendo {
  background-image: $szendoLogo;
}
