<div class="modal-header">
  <h4 class="modal-title">Tulajdonságok</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
      <div class="col-2">
          Allergén:
      </div>
      <div class="col-10">
          Glutén
      </div>
  </div>
  <div class="row">
      <div class="col-2">
          Allergén:
      </div>
      <div class="col-10">
          Laktóz
      </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" (click)="activeModal.dismiss()">Ok</button>
</div>
